# Entorno virtual
venv/
.env/
*.env

# Django stuff
__pycache__/
*.py[cod]
*.log

# Base de datos SQLite
db.sqlite3
*.sqlite3

# Archivos estáticos y media generados
staticfiles/
media/

# ChromaDB
chroma/
chroma_db/
chromadb/
*.chroma

# Archivos de configuración locales
*.local.settings.py
.settings_local.py

# IDEs
.vscode/
.idea/
*.swp
